* {
    margin: 0;
}

html {
    scroll-behavior: smooth
}

.no-scroll {
    overflow: hidden;
}

body {
    width: 100vw;
    
    overflow-x: hidden;

    background-color: var(--color-bg-page);

    color: var(--color-text-primary);

    transition: background-color 0.3s ease,
    color 0.3s ease;
}

.global-div {
    position: relative;
    overflow-x: hidden;
    width: 100vw;
}

.burger {
    display: none;
}