.theme-switch {
    display: block;
    width: 88px;
    height: 44px;

    cursor: pointer;
}

.icon-circle {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.theme-switch__input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.theme-switch__input:not(:checked) + .theme-switch__track > .theme-switch__sun {
    background-color: var(--color-text-accent);
    color: var(--color-text-inverse);
}

.theme-switch__input:checked + .theme-switch__track > .theme-switch__moon {
    background-color: var(--color-text-accent);
}

.theme-switch__track {
    position: relative;

    display: block;
    width: 100%;
    height: 100%;

    border: 1px solid var(--color-border-primary);
    border-radius: 100px;
}

.theme-switch__sun,
.theme-switch__moon {
    position: absolute;
    top: 50%;
    /* z-index: 1; */

    transform: translateY(-50%);
}

.theme-switch__sun {
    left: 4px;
}

.theme-switch__moon {
    right: 4px;
}

.theme-switch__thumb {
    position: absolute;

    top: 3px;
    left: 3px;

    width: 36px;
    height: 36px;
    
    /* z-index: 2; */

    border-radius: 50%;
    background-color: var(--color-tex-taccent);

    transition: transform 0.3s ease;
}

.theme-switch__input:checked + .theme-switch__track
.theme-switch__thumb {
    transform: translateX(40px);
} 

.theme-switch__sun,
.theme-switch__moon {
    color: var(--color-text-primary);
}

@media (max-width: 768px) {
    .theme-switch__thumb {
        top: 5px;
        left: 3px;

        width: 44px;
        height: 40px;
    }

    .theme-switch {
        width: 104px;
        height: 52px;
    }

    .icon-circle {
        width: 44px;
        height: 40px;
    }

}